body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Body Page Acceuil */
 
body .page-accueil {
  position: relative;
  background-color: white;
  overflow: hidden;
  }

  body.page-accueil::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/licorne_2.png");
  background-repeat: repeat;
  background-size: 300px;
  opacity: 0.15;
  z-index: 0;
}

/* Tout le contenu au-dessus du fond */
body.page-accueil > * {
  position: relative;
  z-index: 1;
}

/* Navbar */
header {
  background: #074151;
  color: #070707;
  padding: 10px 10px 0px;
}

.navbar {
  display: flex;
}

.navbar .logo-utilisateur {
  padding: 5px 10px;
  border-radius: 5px;
}

.logo-utilisateur img {
  max-width: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  color: #fbfbfb;
  text-decoration: solid;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: larger;
}


/* Ecran Titre du Jeu */
.titre {
    text-align: center;
    font-size: 60px;
    color:#074151;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
    font-weight: bolder;
}

/* Boutons Acceuil */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  margin-top: 2%;
  
}

.home-page button {
  border-radius: 30px;
  background: #FBD1DD;
  color: rgb(0, 0, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px 70px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
  
}

.home-page button:hover {
    background-color: #070707;
    color: #fbfbfb;
}

/* Bouton : Comment Jouer ? */
.regles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 13%;
}

.regles button {
  color: #ffffff;  
  background-color: #074151;
  border-radius: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px 70px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.regles button:hover {
 background-color: #070707;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
 PAGE QUI MONTRE LES REGLES DU JEU   PAGE QUI MONTRE LES REGLES DU JEU    PAGE QUI MONTRE LES REGLES DU JEU    PAGE QUI MONTRE LES REGLES DU JEU
---------------------------------------------------------------------------------------------------------------------------------------------------*/

body .page-règles {
  position: relative;
  background-color: white;
  overflow: hidden;
  }

  body.page-règles::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../images/Lakitu.gif");
  background-repeat: repeat;
  background-size: 270px;
  opacity: 0.15;
  z-index: 0;
}

/* Tout le contenu au-dessus du fond */
body.page-règles > * {
  position: relative;
  z-index: 1;
}


/* Titre du jeu en H1 */
.game-title {
margin-top: 25px;
}


.game-title h1 {
display: inline-block;
border-radius: 14px;
background: #074151;
text-align: center;
padding: 15px 25px;
margin-left: 400px;
color: #ffffff;
border-style: solid;
border-color: #000000;
}

/* Cartes des règles */
.instructions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    padding: 50px 45px;
}

.rules {
    margin-top: 20px;
    width: 300px;
    padding: 100px 45px;
    font-family: Arial, sans-serif;
    background: #d4d3d3;
    border-radius: 20px;
    position: relative;
    border-color: #000000;
    padding: 40px 25px 25px;
    font-size: large;
    font-weight: 400;  
    border-style: solid;
}

.rules h3 {
  display: inline-block;
  margin-top: 15px;
  position:relative ;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #074151;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
  border-style: solid;
  border-color: #000000;
  
}

.rules h3:hover {
  background-color: rgb(0, 0, 0);
}

.rules p {
 margin-top: -15px;
 font-size: x-large;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: bold;
}

/* Icones des items */
.licornes {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.licornes img {
  width: 34px; 
  height: auto;

}

/* Bouton Items */
.button-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.items-description {
  background: #000000;
  padding: 5px 10px;
  border-radius: 30px;
  color: #ffffff;
  border-style: solid;
  border-color: #000000;
  font-size:x-large;
  font-weight: bold;
  grid-column: 1 / -1;      
  justify-self: center;     
  margin-top: 15px;
  padding: 15px;
}

.items-description:hover {
  background: #ff0000;
}

/* Texte Continuer */
.text-start {  
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 100px; 
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* -------------------------------------------------------------------------------------
NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX  NIVEAUX
-----------------------------------------------------------------------------------------*/