/* =================================
Premier Niveau Stylesheet
   ============================ */
body {
    font-family: poppins, sans-serif;
    background-image: url(images/ciel_soleil.png);
    }
.logo {
    height: 45px;
    width: auto;
    }
    @font-face {
        font-family: "Poppins";
        src: url("../font/Poppins/Poppins-Bold.ttf");
    }

    .hero title {
        font-size: 48px;
        font-weight: 900;
        color: #ffffff;
        text-align: center;
        margin-top: 120px;
    }