* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.arcade {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  inset: 0;
  background-image: url("../image/fond1.png");
  background-size: cover;
  background-position: center;
  transform: scale(1.3);
  filter: blur(1px) brightness(0.5);
  z-index: 1;
}

.screen {
  position: relative;
  z-index: 2;
  width: 900px;
  height: 500px;

  background-image: url("../image/fond1.png");
  background-size: cover;
  background-position: center;

  border: 6px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 48px;
  margin-bottom: 80px;
  color: #ffb000;
  text-shadow:
    4px 4px 0 #000,
    8px 8px 0 #7a2e00;
}

section p {
  padding: 16px 32px;
  background-color: #f2d6c4;
  color: #000;
  border: 4px solid #000;
  border-radius: 14px;
  font-size: 14px;
  box-shadow: 4px 4px 0 #000;
  animation: blink 1.5s infinite;
}

/* Animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
